@import url('http://fonts.cdnfonts.com/css/charlie-2');


h1, h5, h6 {
    font-family: 'Charlie Display', sans-serif;
    font-weight: bold;                                   
}

a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

text-login {
    color: #fff !important;
    background-color: orange;
}

